.company-name{
    font-size: 48px;
    color: black;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
    font-weight: 600;
}
.bg-header{
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
    padding-top: 150px;
    background-image: url(../../asserts/images/car5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.btn{
    text-align: center;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;   
}